.description-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
}

.food {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: var(--color-text-light);
}

.waller {
    color: var(--color-text);
}

.portfolio {
    color: var(--color-text);
    margin-top: 32px;
    font-size: 30px;
}