.coins-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.coin-card {
    display: flex;
    flex: 1;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    background-color: var(--color-bg);
    gap: 8px;
}

.coin-card h2, h3 {
    color: var(--color-text);
}

.coin-card-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.coin-card img {
    width: 80px;
    object-fit: contain;
}

.up {
    color: #34aa33;
}

.down {
    color: #f44646;
}