@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-text: black;
  --color-text-light: rgb(116 116 116);
  --color-bg: white
}

.dark {
  --color-text: whitesmoke;
  --color-text-light: rgb(116 116 116);
  --color-bg: #222222
}